table
{
    width: 100%;
    border-collapse: collapse;
}
tr:hover
{
    position: relative;
    color: #f8eff2;
    background: #bbb7b7;
}
th
{
    text-align: center;
    border: 1px solid black;
    font-size: 14pt;
}
td
{
    text-align: center;
    font-size: 14pt;
}

td:hover
{
    position: relative;
    color: #f8eff2;
    background: #bbb7b7;
}
th:hover::after,
td:hover::after
{
    background-color: #bbb7b7;
    pointer-events: none;
    opacity: 0.3;
    top: -50000px;
    height: 500000px;
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
 }

.logo
{
    width: 100px;
}
.form input
{
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 auto 5px;
    width: 200px;
    display: block;
    padding: 4px;
}

.form button
{
    display: block;
    margin: 0 auto 5px;
}
