table { 
    width: 100%;
    border-collapse: collapse;
}
th { 
    text-align: center;  
    border: 1px solid black;
    font-size: 14pt;
} 
td:nth-child(2n1) {
    background: #bea2aa; 
    color: #431823
}
td{
    text-align: center;
    font-size: 14pt;
} 
td:hover {
    color: #f8eff2;
    background: #bbb7b7; 
}
.logo {
    width: 100px;
}
.Form input {
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 auto 5px;
    width: 200px;
    display: block;
    padding: 4px;
}

.Form button {
    display: block;
    margin: 0 auto 5px;
}